---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
---

<Layout>

<Navigation/>

<main class="review">

<h1>Elden Ring</h1>

<p>
Review coming soon...
</p>

</main>

<style>

.review{

    max-width:900px;

    margin:80px auto;

}

</style>

</Layout>