---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
	<Navigation />
  <main class="hero">
    <h1>Hello, I'm Lauri Räisänen</h1>

    <p>
      Embedded Software Engineer (4th year student)
    </p>

    <p>
      I'm an embedded software engineer with a passion for firmware development, electronics, and building practical systems. This portfolio showcases my embedded projects, technical interests, and game reviews.
    </p>
  </main>
  <style>

.hero{
    max-width: 900px;
    margin: 80px auto;
    padding: 0 30px;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p{
    font-size: 1.2rem;
    line-height: 1.7;
}

</style>
</Layout>