---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>

    <Navigation />

    <main class="page">

        <h1>Game Reviews</h1>

        <p>
            Outside of embedded software,
            I enjoy exploring games and writing
            about what makes them memorable.
        </p>

        <section>

            <h2>Coming Soon</h2>

            <p>

                Planned reviews:

            </p>

            <ul>

                <li>Outer Wilds</li>

                <li>Cyberpunk 2077</li>

                <li>Dark Souls</li>

                <li>Subnautica</li>

            </ul>

        </section>

    </main>

</Layout>

<style>

.page{

    max-width:900px;

    margin:80px auto;

    padding:0 30px 80px;

}

section{

    margin-top:50px;

}

</style>