<nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/reviews">Game Reviews</a></li>
    <li><a href="/resume">CV</a></li>
    <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<style>
nav{

    display:flex;
    justify-content:flex-end;
    align-items:center;

    padding:30px 60px;

    gap:35px;
}

nav ul{

    display:flex;
    list-style:none;

    gap:35px;

    margin:0;
    padding:0;
}

nav a{

    color:var(--text);

    transition:.2s;
}

nav a:hover{

    color:var(--accent);

}
</style>